@font-face {
   font-family: 'FEH';
   src: url(./source/feh.ttf) format("truetype");
   
}

@keyframes scroll-left {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

body {
	background-image: url("background.png");
	background-size: auto;
	font-family: FEH;
	color: white;
	line-height: 1.5;
	margin-top: 80px
}

.header {
	text-decoration: underline;
	font-size: 1.25em;
}

.list {
	font-size: 1em;
	margin-left: 2%;
}

#title {
	text-align: center;
	font-size: 1.25rem;
	height: 80px;
	width: 100%;
	display: block;
	position: fixed;
	background-image: url("background.png");
	box-shadow: 0 0 1px 1px #101415;
	top:0;
	left:0;
}

#columns {
		column-count: 3;
		column-width: 33%
	}



#back {
	display: inline;
	padding: 0; 
	border: 0;
	background: transparent;
	position: absolute;
	top: 10px;
	left:10px;
}
#buttonIMG {
	width: 60px;
	height: 60px;
}

#pageTitle {
	margin: auto;
	vertical-align: center;
	margin-top: 10px;
}

.audio_controls button {
	padding: 0; 
	border: 0; 
	background: transparent;

}

.audio_controls button img {
 width: 45px;
 height: 40px;
}

.audio_controls {
	position: fixed;
	right: 80px;
	top: 22.5px;

}

#cover{
	width: 60px;
	height: 60px;
	position: fixed;
	top: 10px;
	right: 10px;
	border: 1px;
	border-color: white;
}

