@font-face {
   font-family: 'FEH';
   src: url(feh.ttf) format("truetype");
   
}

h1 {
	text-align: center;
	font-family: FEH;
	line-height: 1;
}

#quoteDisplay {
	text-align: center;
	font-family: FEH;

}

#newButton{
	background: url(button2.png);
	width: 167px;
	height: 80px;
	border: none;
	font-family: FEH;
	font-size: 1.25rem;
}

#sourceImage {
	width: 350px;
	display: block;
    margin: 0 auto;
}
