@font-face {
   font-family: 'FEH';
   src: url(feh.ttf) format("truetype");
   
}

h1 {
	text-align: center;
	font-family: FEH;
	color: white;
	
}

#quoteDisplay {
	text-align: center;
	font-family: FEH;
	display: block;
	line-height: 1.5;
	color: white;

}

#newButton{
	background: url(buttons/new.png);
	width: 167px;
	height: 80px;
	border: none;
	font-family: FEH;
	font-size: 1.25rem;
}

#sourceImage {
	width: 90%;
	display: block;
    margin: 0 auto;
}

#audio_box img {
	height: 50%;
	width: 50%;
	display: block;
	margin: 0 auto;
	position: relative;

}

.audio_controls {
	position: absolute;
	bottom: 30%;
	right:27%;
	width: 27%;
}

.audio_controls button {
	padding: 0; 
	border: 0; 
	background: transparent;
	width: 30%;
}

.audio_controls img {
	height: 50%;
	width: 50%;
}

.container {
	position: relative;
	text-align: center;
	color: black;
}

.marquee {
    height: 100%;
    width: 27%;
    overflow: scroll;
    position: absolute;
    font-family: FEH; 
    font-size: 15pt;
    margin: 0 auto;
    text-align: center;
    top: 30%;
    right: 27%;
    white-space: nowrap;
}
        
.marquee p {
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 1.5;
	display: block;
	text-align: center;
	transform: translateX(100%);
	animation: scroll-left 5s linear infinite;
}

#song_cover img {
	height: 70%;
	width: auto;
	position: absolute;
	top: 14%;
	left: 28.5%;
	border: 1px solid #ddd;

}


@keyframes scroll-left {
	0% {
		transform: translateX(50.3%);
	}
	100% {
		transform: translateX(-64.6%);
	}
}



body {
background-image: url("background.png");
	background-size: auto;
}
