@font-face {
   font-family: 'FEH';
   src: url(https://github.com/Chapter-Title-Generator/chapter-title-generator.github.io/blob/edb7710df85387984a538f1bc8344090f2c19010/feh.ttf) format("truetype");
   
}

h1 {
	text-align: center;
	font-family: FEH;
}

#quoteDisplay {
	text-align: center;
	font-family: FEH;

}

#newButton{
	background: url(https://github.com/Chapter-Title-Generator/chapter-title-generator.github.io/blob/edb7710df85387984a538f1bc8344090f2c19010/button2.png);
	width: 167px;
	height: 80px;
	border: none;
	font-family: FEH;
	font-size: 1.25rem;
}

#sourceImage {
	width: 3500px;
	display: block;
    margin: 0 auto;
}
